::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #222;
}

h1 {
  width: 100%;
  padding-left: 20px;
  font-weight: 800;
  font-size: 100px;
  opacity: .8;
}

p {
  margin-top: 0;
  padding: 20px;
  font-size: 70px;
  opacity: .6;
  font-weight: 500;
  line-height: 1.6;
}

.viewport {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 60vw;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  min-width: 280px;
  position: relative;
  /* width: calc(30vw - 40px); */
  flex: 1;
  min-height: 200px;
  height: 14vw;
  outline: 1px solid lightgrey;
  background:
    linear-gradient(to top right, transparent 49.9%, lightgrey 49.9%,lightgrey 50.1%, transparent 50.1%),
    linear-gradient(to bottom right,transparent 49.9%, lightgrey 49.9%,lightgrey 50.1%, transparent 50.1%);
  margin: 25px;
}